<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dianoga" version="3.1.1" targetFramework="net461" />
  <package id="Dianoga.ImageMagick" version="1.2.4" targetFramework="net461" />
  <package id="Dropbox.Api" version="4.8.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net461" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.4.5" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net461" />
  <package id="nQuant" version="1.0.3" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.108.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.108.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.108.0" targetFramework="net461" />
</packages>